<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login Page </title>

</head>
<body>

<div class="h1">
  <h1> BookStore Login Form </h1>
</div>


<form>
    <div class="container">
      <label>Username : </label>
      <input type="text" placeholder="Enter Username" name="username" required>


      <label>First Name : </label>
      <input type="text" placeholder="Enter First Name" name="First Name" required>

      <label>Last Name : </label>
      <input type="text" placeholder="Enter Last Name" name="Last Name" required>

      <label>Email Id: </label>
      <input type="text" placeholder="Enter Email Id" name="Last Name" required>


      <label>Password : </label>
      <input type="password" placeholder="Enter Password" name="password" required>




      <button type="submit">
        Login
      </button>

      <input type="checkbox" checked="checked"> Remember me
      <button type="button" class="cancelbtn"> Cancel</button>
      <a href="#">  Forgot  password </a>
    </div>
</form>
</body>
</html>
