<div class="box1">
    
    <div class="container">
    
    <div class="book-logo">
    
     <img src="./../../../assets/education.svg">
     <h1 style="color: white;">Bookstore</h1>
   
    

    </div>
</div>

<div class="topmid">
<div class="button">
    
</div>
<input type="text" class="searchbar" placeholder="Search">
</div>

    

<div class="cart">
   
   
       
       <img src="../../../assets/supermarket.svg" onclick="" routerLink="/login">
   
</div>

</div>



  


<app-display-book></app-display-book>
<app-footer></app-footer>