<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Login Page </title>

</head>
<body>

<div class="h1">
<h1> BookStore Login Form </h1>
</div>


  <form >

    <div class="container">
    <label>Username : </label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <label>Password : </label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <button type="submit" onclick="" routerLink="">
      Login
    </button>

    <input type="checkbox" checked="checked"> Remember me 
    <button type="button" class="cancelbtn"  > Cancel</button><a href="index.html"></a>
   <a href="#">  Forgot  password </a>
  </div>
</form>
</body>
</html>
