<div class="box1">
  <div class="book-logo">
    <img src="./../../../assets/education.svg">
  </div>
  
  <div class="BookStore">
    Bookstore
  </div> 





<div class="topmid">
  <div class="button">
  </div>
 <input type="text" class="searchbar" placeholder="Search">
 </div>

 <div class="cart">
   
   
       
  <img src="../../../assets/supermarket.svg" onclick="">



</div>



</div>









<div class="card">
  <div class="section">
     <div class="section-title">My Cart</div>
  
    <div class="section-content">
      <div class="my-cart">
      <img src="../../../assets/Image 23@2x.png">
 

         <h1>
          UX<br>
          DONALD CHESNUT<br>
          RS 1500<br>
        </h1>
      </div>   
  
  
          
    
    
     <div class="quantity-container">
     <button class="quantity-button minus">-</button>
     <input type="text" class="quantity-input" value="1">
     <button class="quantity-button plus">+</button>
     <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Remove</p>
     </div>


    



 
    </div>
 <button onclick=""> Place Order</button> 
  </div>    
</div>
  
  <div class="card">
  <div class="section">
    <div class="section-title">Customer Details</div>
    <div class="section-content">
    
      <form class="example-form">
        
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr></table>
      
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Address 2</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Landmark</mat-label>
            <input matInput placeholder="Ex. California">
          </mat-form-field></td> 
        </tr>
      TYPE

      <div class="label-button">
          <label>
            <input type="radio" name="type" value="home">
                             Home
          </label>
        
          
          <label>
            <input type="radio" name="type" value="work">
            Work
          </label>
        

          <label>
            <input type="radio" name="type" value="other">
            Other
          </label> 

       </div>
    
    </table>

    <div class="continue" onclick="home" routerLink="">
      <button style="background-color: #3371B5;color: white;" style="width: 160px; height:35px;">
       Continue
      </button>
     </div>
   
  
  </form>
      


    </div>
  </div>
  </div>

  <div class="card">
  <div class="section">
    <div class="section-title">Order Summary</div>
    <div class="section-content">
      <div class="my-cart">


     
      


       <img src="../../../assets/Image 23@2x.png">
       <div class="text">
       <h1>
        UX<br>
        DONALD CHESNUT<br>
        RS 1500<br>
       </h1>
      </div>

      </div>



    </div> 
    </div>

    <div class="check">
    <button class="CHECKOUT" onclick="" routerLink="/order" style="width: 160px; height:35px;background-color: #3371B5;color: white;"> 
      CHECKOUT
    </button>
  </div>
  
  </div>

<app-footer></app-footer>