  
  
.box1{
    height: 60px;
    width: 100vw;
    background-color: #A03037;
    display: flex;
    align-items: center;
    gap: 60px;
  }
 
  .book-logo{
    display: flex;
    margin-left: 50px;
  }
  .Bookstore{
    color: #FFFFFF;
    background-color: #FFFFFF;
    font-size: 20px;
  }
  .topmid{
    width: 56.5vw;
    height: 6vh;
    // margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .searchbar{
    height: 33px;
    width: 490px;
    background-color: #FCFCFC;
    border: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
  }
  .topmid .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vh;
    height: 33px;
    border-bottom-left-radius : 3px;
    border-top-left-radius : 3px;
    background-color: #FCFCFC;
  }
  .buttons button{
    width: 5vh;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0vh;
    background-color: transparent;
    cursor: pointer;
    left: 30px;
  }
  .buttons button:hover{
    background-color: rgb(228, 219, 219);
    height: 30px;
    width: 30px;
  }
  .topmid input::placeholder{
    font-size: 18px;
    position: relative;
    top: 0.5vh;
    color: #9D9D9D;
  }
  .topright{
    display: flex;
    align-items: center;
  }
  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topright button{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    height: 60px;
    width: 80px;
    padding-top: 6px;
  }

  

  
    
   .h1{
    gap: 10px;

   }


   .center{  
    top: 50%;
    left: 50%;
    left: 500px;
    position: relative;
}

.table-cart{
    left: 500px;
    position: relative;
    border-radius: 20px;
  
}
