<div class="box1">
    
    <div class="container">
    
    <div class="book-logo">
    
     <img src="./../../../assets/education.svg">
     <h1 style="color: white;">Bookstore</h1>
   
    

    </div>
</div>

<div class="topmid">
<div class="button">
    
</div>
<input type="text" class="searchbar" placeholder="Search">
</div>

    

<div class="cart">
   
   
       
       <img src="../../../assets/supermarket.svg" onclick="">
   
</div>

</div>














<div class="img-center">

 <div class="center">
    <img src="../../assets/Group 4132@2x.png"   >
    <h1 style=" position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);">ORDER PLACED SUCCESSFULLY</h1>
        
      
 

    </div>
    
    
    <p style="margin-left:400px;">hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..</p>



</div>

<div class="table-cart">
 <table>
  <tr>
    <th>
        Email Us
       
    </th>
    <td>
        admin.bookstore.com
    </td>
  </tr>
  <tr>
    <th>
  Contact Us
    </th>
    <td>
        +91 8163475881
    </td>
  </tr>
  <tr>
    <th>
        Address
    </th>
    <td>
        42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034
    </td>
  </tr>
 </table>
</div>

<button style="width: 170px; height:35px;background-color: #3371B5;color: white;margin-left: 900px;padding: 10px;gap: 20px;" onclick="" routerLink="">CONTINUE SHOPPING</button>

<app-footer></app-footer>
